* {
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 850px;
    background-color: #f1f1f1;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.15;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
}

body {
    height: 938px;
    position: relative;
    overflow: visible;
    font-size: 12px;
    font-family: "Microsoft YaHei" !important;
    color: #495060;
    background-color: #fff;
}
body a {
    color: #999;
}
.cloak {
    height: 100%;
    width: 100%;
}

.cloak .title {
    z-index: 10;
    text-align: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(90deg, #50c9fe, #04b1fd);
    height: 45px;
    line-height: 45px;
    position: relative;
    font-size: 16px;
    color: #ffffff;
}

.cloak .title .btnLogout {
    right: 1%;
    background-color: #fff;
    height: 20px;
    position: absolute;
    line-height: 16px;
    top: 50%;
    border: none;
    outline: none;
    z-index: 11;
    border-radius:3px;
}

.cloak .name {
    position: relative;
    z-index: 1;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2%;
    border-bottom: 1px solid #dedede;
    white-space:nowrap;
    text-overflow: ellipsis;
    background-color: #ffffff;
    overflow: hidden;
}

.cloak .name span {
    background: linear-gradient(90deg, #50c9fe, #04b1fd);
    border-radius: 3px 0 0 3px;
    padding: 0 5px;
    top: 50%;
    right: 0;
    text-align: center;
    color: #fff;
    height: 20px;
    line-height: 20px;
    position: absolute;
    transform: translateY(-50%);
}

.cloak .homePageItem {
    width: 100%;
    bottom: 0;
    top: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}

.cloak .homePageItem a > div {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    position: relative;
    border-radius: 3px;
    margin-top: 20px;
    border-radius : 3px;
}

